@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
nav{
  display: inline;

}
nav h1{
  font-family: 'Roboto', sans-serif;
}
nav ul{
  background: blue;
}
nav ul li{
  background: red
}
